<%= form_for(@comment) do |c| %>
	<%= render 'shared/error_messages', object: c.object %>
	<div class="field">
		<%= hidden_field_tag(:micropost_id, @micropost.id) %>
		<%= c.text_area :content, placeholder: "Compose new comment..."%>
	</div>
	<%= c.submit "Post", class: "btn btn-large btn-primary"%>
<% end %>